@charset "UTF-8";
* { 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(to right,#44633f, #B2E07A) ;
}
header {
    background-image : linear-gradient(to top,#2e422b, #4a6b4a);
    width: 100vw;
}
header h1  {
    text-align: center;
}
header nav {
    padding-bottom: 10px;
}
header a {
    margin: 10px;
}
a {
    text-decoration: none;
}
main {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    
}